html, body, #root {
  height: 100%;
  margin: 0;
}

/* Layout a colonna su tutta l'altezza */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: initial; /* evita centrare tutto di default */
  padding: 0;          /* niente padding globale */
}

/* Contenuto principale che spinge il footer in basso */
main {
  flex: 1 0 auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 5rem;
}
